<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:replace="~{fragmentos/head::encabezados(~{::title}, ~{})}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<nav th:replace="~{fragmentos/barra::barra}"></nav>
<div class="container-fluid text-center mt-3">
    <br>
    <br>
    <h1>¡MUCHA SUERTE!</h1>
    <div class="row">
        <div class="col text-center m-auto">
            <div th:class="${claseImagen} + ' m-auto'" id="victima"></div><br>
            <div class="text-center">
            <span class="contenedor" th:each="espacio : ${partida.estado.toCharArray()}">
                <img th:src="@{/imagenes/cuadro.png}" alt="" width="35px"/>
                <span class="centrado" th:text="${espacio == '_'} ? ' ' : ${espacio}">A</span>
            </span>
            </div>

            <p th:text="'Le quedan ' + ${partida.intentos} + ' intentos.'" id="intentos">Intentos</p>
        </div>
        <div class="col m-auto">
            <form method="post"
                  th:action="@{/partida/nuevaLetra}"
                  th:object="${partida}">
                <!--Datos del objeto partida(me fuerza a ponerlos; si no, sale error porque establece los no representados como field como 'null')-->
                <input type="hidden" th:field="*{id}" id="id"/>
                <input type="hidden" th:field="*{palabraOculta}" id="palabra"/>
                <input type="hidden" th:field="*{estado}" id="estado"/>
                <input type="hidden" th:field="*{letrasFalladas}" id="letrasFalladas"/>
                <input type="hidden" th:field="*{intentos}" id="inte"/>

                <p th:text="'Letras falladas: ' + ${partida.letrasFalladas}">letras falladas</p>
                <label for="nuevaLetra">Introduzca una letra:</label>
                <input type="text" id="nuevaLetra" th:field="*{nuevaLetra}" maxlength="1" autofocus/>
                <div class="error" th:text="${noLetra}"></div>

                <button type="submit" class="btn btn-primary comprobar"  id="submit">Comprobar</button>
            </form>


        </div>
    </div>
    <br/>

    <a th:href="@{/partida/jugar/random}">
        <button class="navegacion">Jugar otra partida</button>
    </a>
    <a th:href="@{/index}">
        <button class="navegacion">Ir al inicio</button>
    </a>

</div>
</body>
</html>